{% load bootstrap4 %} 
{% load static %} 
{# Load CSS and JavaScript #} 
{% bootstrap_css %} 
{% bootstrap_javascript jquery='full' %} 
{% bootstrap_messages%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="{% static 'eventFinder/base.css' %}"/>
        {% block staticfiles %}{% endblock %}
    </head>
    <body>
        <section id="navbar">
            <nav class="navbar navbar-expand fixed-top navbar-dark justify-content-between">
                <div class="container">
                    <div id="navbarTabs">
                        <a href="{% url 'eventFinder:index' %}" class="navbar-brand">Home</a>
                        <ul class="nav navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'eventFinder:list' %}">
                                    Events
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">dummy</a>
                            </li>
                        </ul>
                    </div>
                    {% comment %} <span>{{backends}}</span> {% endcomment %}
                    {% if user.is_authenticated %}
                        <span id='welcomeMessage'>Hi, {{user}}. You're logged in.</span>
                    {% else %}
                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-outline-light">
                        Login
                    </a>
                    {% endif %}
                    {% comment %} <a href="" class="btn btn-outline-light">Login</a> {% endcomment %}
                </div>
            </nav>
        </section>

        <section id="content">
            {% block content %}{% endblock %}
        </section>

        <footer class="text-center text-white">
            <small>&copy;Copyright 2020, Alpha Squad</small>
        </footer>
    </body>
</html>
