{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="jumbotron rounded" id='eventIndexBanner'>
            <h1 class="display-3"><i class="fas fa-calendar-day"></i> Events</h1>
            <hr class="my-1">
            <p>Things that will happen, might happen, or could happen</p>
            <p class="lead">
                <a class="btn btn-outline-primary" href="{% url 'eventFinder:create' %}" role="button">Create Event</a>
            </p>
        </div>
    </div>
    <div class="container mb-3">
        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by:
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for name, field in orderings.items %}
                <a class="dropdown-item" href="{% url 'eventFinder:index' %}?ordering={{field}}">{{name}}</a>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="container" id="eventCards">
        <div class="row">
            {% for event in events%}
                <div class="col-4">
                    <div class="card mb-5">
                        <div class="card-body">
                            <p>Event Name: <a href="{% url 'eventFinder:show' event.id%}" class="card-title">{{event.event_name}}</a></p>
                            <p class="card-text">Event Type: {{event.event_type}}</p>
                            <p class="card-text">Created by: <a href="{% url 'userprofile:show' event.author.profile.id%}">{{event.author.profile.display_name}}</a></p>
                            <p class="card-text">Time: {{event.event_date}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}