{% extends "base.html" %}
{% block content %}
    <div class="container" id="eventIndexBanner">
        <div class="jumbotron border border-white rounded" id='eventIndexBanner'>
            <h1 class="display-3">Events index page</h1>
            <p class="lead">Helper text</p>
            <hr class="my-2">
            <p>More info</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'eventFinder:new' %}" role="button">Create Event</a>
            </p>
        </div>
    </div>
    <div class="container" id="eventCards">
        <div class="row">
            {% for event in events %}
                <div class="col-4">
                    <div class="card mb-5">
                        <div class="card-body">
                            <a href="{{event.pk}}" class="card-title">Event Name: {{event.event_name}}</a>
                            <p class="card-text">Created by: {{event.author.username}}</p>
                            <p class="card-text">published on: {{event.pub_date}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}