{% extends "./base.html" %}
{% block content %}
    <div class="container">
        <div class="jumbotron border border-white rounded" id='eventIndexBanner'>
            <h1 class="display-3">This is the events index page</h1>
            <p class="lead">Jumbo helper text</p>
            <hr class="my-2">
            <p>More info</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'eventFinder:new' %}" role="button">Create Event</a>
            </p>
        </div>
    </div>
    <div class="container" id="eventCards">
        <div class="row">
            {% for event in events %}
                <div class="col-4">
                    <div class="card mb-5">
                        <div class="card-body">
                            <h5 class="card-title">Event Name: {{event.event_name}}</h5>
                            <p class="card-text">Created by: {{event.author.username}}</p>
                            <p class="card-text">published on: {{event.pub_date}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if logged_in %}
        <h1>Hi. You're logged in</h1>
    {% else %}
        <a href="{% url 'social:begin' 'google-oauth2' %}">
        Login
      </a>
    {% endif %}
</body>
</html> {% endcomment %}