{% extends 'base.html' %}
{% block content %}
    <div class="d-flex justify-content-center">
        <form action="{% url 'userprofile:update' userprofile.id%}" method="post" id="UserProfileNewForm">
            {% csrf_token %}
            <div class="container d-flex flex-column">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Display Name</span>
                    </div>
                    {{form.display_name}}
                </div>
    
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Bio</span>
                    </div>
                    {{form.bio}}
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Avatar</span>
                    </div>
                    {{form.profile_pic}}
                </div>
                <button type='submit' class="btn btn-primary">Update Profile</button>
            </div>
        </form>
    </div>
{% endblock %}