@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
body {
    background: #2f2f35;
    padding-top: 56px;
    font-family: 'Open Sans', sans-serif;
    color: #2f2f35;
}

a{
    color: #008BF8;
}

/* base navbar */
#navbar{
    font-family: 'Quicksand', sans-serif;
}
#navbar nav{
    transition: background 200ms ease-out;
}
#navbar nav.scrolled{
    background: #242429;
}

div#navbarTabs{
    display: inline-flex
}

section#navbar{
    color: #eff2ee;
}

section#navbar a{
    color: #9e856a;
}

#userOptionsButton{
    color: #9e856a
}

section#navbar #userOptionsDropdown{
    background: #eff2ee;
    color: #2f2f35
}

section#navbar #userOptionsDropdown a{
    color: #2f2f35
}

/* events/index */
div#eventIndexBanner{
    background: #eff2ee;
    color: #2f2f35;
}

div#eventCards div.card{
    background: #eff2ee;
}

/* events/new */
form#eventNewForm{
    color: black;
    width: 500px;
}

form#eventNewForm div.input-group-prepend span{
    width: 120px;
    display: inline-block;
    text-align: center;
}

/* events/show */
#eventDetail div.jumbotron{
    background: #eff2ee ;
}

div#map{
    width: 100%;
    height: 400px;
}