{% load bootstrap4 %} 
{% load static %} 
{# Load CSS and JavaScript #} 
{% bootstrap_css %} 
{% bootstrap_javascript jquery='full' %} 
{% bootstrap_messages%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
        <script src="https://kit.fontawesome.com/a87e1d25d8.js" crossorigin="anonymous"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <section id="navbar">
            <nav class="navbar navbar-expand fixed-top justify-content-between">
                <div class="container">
                    <div id="navbarTabs">
                        <a href="{% url 'eventFinder:index' %}" class="navbar-brand">Home</a>
                    </div>

                    <div id="navbarUserOptions">
                        {% if user.is_authenticated %}
                            <span id='welcomeMessage'>Hi, </span>
                            <div class="dropdown d-inline-flex">
                                <button class="btn btn-link px-0" type="button" id="userOptionsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{user.profile.display_name}}
                                    <i class="fas fa-caret-down"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right fill-light" aria-labelledby="dropdownMenuButton" id="userOptionsDropdown">
                                    <a class="dropdown-item" href="{% url 'userprofile:show' user.profile.id %}">Profile</a>
                                    <hr class="my-0 w-75">
                                    <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                                </div>
                            </div>
                        {% else %}
                            <a href="{% url 'login' %}">
                            Login
                            </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </section>

        <section id="content">
            {% block content %}{% endblock %}
        </section>

        <footer class="text-center text-white">
            <small>&copy;Copyright 2020, Alpha Squad</small>
        </footer>
        <script src="{% static 'js/base.js' %}"></script>
    </body>
</html>
